# **Feature Engineering**
* Feature engineering is the process of using domain knowledge to extract features from raw data. These features can be used to improve the performance of our machine learning algorithms.
* Some Feature Engineering techniques we will be applying are: Imputation,
Log Transformations, One-Hot Label Encoding, Grouping Operations and Scaling.

#### **Loading in and merging the datasets**

In [1]:
import pandas as pd
import numpy as np

In [2]:
train_identity = pd.read_csv('train_identity.csv')
train_transaction = pd.read_csv('train_transaction.csv')

test_identity = pd.read_csv('test_identity.csv')
test_transaction = pd.read_csv('test_transaction.csv')

In [3]:
train = train_transaction.merge(train_identity, how='left', left_index=True, right_index=True, on='TransactionID')
test = test_transaction.merge(test_identity, how='left', left_index=True, right_index=True, on='TransactionID')

print(train.shape)
print(test.shape)

del train_transaction, train_identity, test_transaction, test_identity

(590540, 434)
(506691, 433)

### **Reducing Memory Usage**

In [4]:
from memory_reduction import reduce_mem_usage

train = reduce_mem_usage(train)
test = reduce_mem_usage(test)

Memory usage of dataframe is 1955.37 MB
Memory usage after optimization is: 525.57 MB
Decreased by 73.1%
Memory usage of dataframe is 1673.87 MB
Memory usage after optimization is: 458.22 MB
Decreased by 72.6%

# **Feature Engineering**

In [5]:
#Change the columns in the test dataset to match those in the training set
test.columns = train.drop('isFraud',axis=1).columns

#### **Mapping email domains**

In [6]:
emails = {'gmail': 'google', 'att.net': 'att', 'twc.com': 'spectrum', 
          'scranton.edu': 'other', 'optonline.net': 'other', 'hotmail.co.uk': 'microsoft',
          'comcast.net': 'other', 'yahoo.com.mx': 'yahoo', 'yahoo.fr': 'yahoo',
          'yahoo.es': 'yahoo', 'charter.net': 'spectrum', 'live.com': 'microsoft', 
          'aim.com': 'aol', 'hotmail.de': 'microsoft', 'centurylink.net': 'centurylink',
          'gmail.com': 'google', 'me.com': 'apple', 'earthlink.net': 'other', 'gmx.de': 'other',
          'web.de': 'other', 'cfl.rr.com': 'other', 'hotmail.com': 'microsoft', 
          'protonmail.com': 'other', 'hotmail.fr': 'microsoft', 'windstream.net': 'other', 
          'outlook.es': 'microsoft', 'yahoo.co.jp': 'yahoo', 'yahoo.de': 'yahoo',
          'servicios-ta.com': 'other', 'netzero.net': 'other', 'suddenlink.net': 'other',
          'roadrunner.com': 'other', 'sc.rr.com': 'other', 'live.fr': 'microsoft',
          'verizon.net': 'yahoo', 'msn.com': 'microsoft', 'q.com': 'centurylink', 
          'prodigy.net.mx': 'att', 'frontier.com': 'yahoo', 'anonymous.com': 'other', 
          'rocketmail.com': 'yahoo', 'sbcglobal.net': 'att', 'frontiernet.net': 'yahoo', 
          'ymail.com': 'yahoo', 'outlook.com': 'microsoft', 'mail.com': 'other', 
          'bellsouth.net': 'other', 'embarqmail.com': 'centurylink', 'cableone.net': 'other', 
          'hotmail.es': 'microsoft', 'mac.com': 'apple', 'yahoo.co.uk': 'yahoo', 'netzero.com': 'other', 
          'yahoo.com': 'yahoo', 'live.com.mx': 'microsoft', 'ptd.net': 'other', 'cox.net': 'other',
          'aol.com': 'aol', 'juno.com': 'other', 'icloud.com': 'apple'}

us_emails = ['gmail', 'net', 'edu']


for c in ['P_emaildomain', 'R_emaildomain']:
    train[c + '_bin'] = train[c].map(emails)
    test[c + '_bin'] = test[c].map(emails)
    
    train[c + '_suffix'] = train[c].map(lambda x: str(x).split('.')[-1])
    test[c + '_suffix'] = test[c].map(lambda x: str(x).split('.')[-1])
    
    train[c + '_suffix'] = train[c + '_suffix'].map(lambda x: x if str(x) not in us_emails else 'us')
    test[c + '_suffix'] = test[c + '_suffix'].map(lambda x: x if str(x) not in us_emails else 'us')

### **Feature grouping and scaling**

* Here we are simply performing aggregations on what we determined to be the top numerical features in this data from the EDA stage of the project. We will be scaling the numerical features: **TransactionAmt,  id_02,  D10, dist1, C1, & C2.**

In [7]:
from feat_engineering_functions import feat_scale, comb_feat_scaling

#### **Train and Test dataset feature grouping & scaling**

In [8]:
train_encoded = train.copy()
test_encoded = test.copy()

train_encoded, test_encoded = feat_scale(train_encoded, test_encoded, 'TransactionAmt')

train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'TransactionAmt','card1')
train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'TransactionAmt','card4')
train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'TransactionAmt','card5')

train_encoded['TransactionAmt'] = np.log(train_encoded['TransactionAmt'])
test_encoded['TransactionAmt'] = np.log(test_encoded['TransactionAmt'])

train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'id_02','card1')
train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'id_02','card4')
train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'id_02','card5')

train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'D1','card1')
train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'D1','card4')
train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'D1','card5')

train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'D10','card1')
train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'D10','card4')
train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'D10','card5')

train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'C1','addr1')
train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'C1','addr2')
train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'C1','dist1')

train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'C2','addr1')
train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'C2','addr2')
train_encoded, test_encoded = comb_feat_scaling(train_encoded, test_encoded, 'C2','dist1')

### **Categorical Feature Label Encoding**

In [9]:
from feat_engineering_functions import label_encoding

#### **Train and Test dataset categorical feature label encoding**

In [10]:
categorical = ['ProductCD','card1','card2','card3','card4','card5','card6','addr1','addr2','P_emaildomain_bin'\
              ,'P_emaildomain_suffix','R_emaildomain_bin','R_emaildomain_suffix','M1','M2','M3','M4','M5','M6','M7','M8','M9'\
              ,'id_12','id_13','id_14','id_15','id_16','id_17','id_18','id_19','id_20','id_21','id_22'\
              ,'id_23','id_24','id_25','id_26','id_27','id_28','id_29','id_30','id_31','id_32','id_33'\
              ,'id_34','id_35','id_36','id_37','id_38','DeviceType','DeviceInfo']

train_encoded, test_encoded = label_encoding(train_encoded, test_encoded, categorical)

In [11]:
train_encoded.drop(['P_emaildomain','R_emaildomain'], axis=1, inplace = True)
test_encoded.drop(['P_emaildomain','R_emaildomain'], axis=1, inplace = True)

In [12]:
print(train_encoded['isFraud'].value_counts(),'\n')
train_encoded.head(10)

0    569877
1     20663
Name: isFraud, dtype: int64

   TransactionID  isFraud  ...  C2_to_mean_dist1  C2_to_std_dist1
0        2987000        0  ...          0.134644         0.040731
1        2987001        0  ...         -1.000000        -1.000000
2        2987002        0  ...          0.567871         0.957617
3        2987003        0  ...         -1.000000        -1.000000
4        2987004        0  ...         -1.000000        -1.000000
5        2987005        0  ...          0.237305         0.063425
6        2987006        0  ...          0.110901         0.035151
7        2987007        0  ...         -1.000000        -1.000000
8        2987008        0  ...         -1.000000        -1.000000
9        2987009        0  ...          0.269287         0.081461

[10 rows x 474 columns]

In [13]:
test_encoded.head(10)

   TransactionID  TransactionDT  ...  C2_to_mean_dist1  C2_to_std_dist1
0        3663549       18403224  ...          0.696777         0.201980
1        3663550       18403263  ...          0.163452         0.058039
2        3663551       18403310  ...          0.842285         3.864367
3        3663552       18403310  ...          0.249512         0.072573
4        3663553       18403317  ...          0.661621         0.193813
5        3663554       18403323  ...         -1.000000        -1.000000
6        3663555       18403350  ...         -1.000000        -1.000000
7        3663556       18403387  ...          0.750000         2.049390
8        3663557       18403405  ...         14.695312         4.199774
9        3663558       18403416  ...          0.179688         0.052043

[10 rows x 473 columns]

### **Principal Cluster Analysis on the Vesta Engineered Features (V1:V339)**

In [25]:
from pca_change import PCA_change
from sklearn.preprocessing import minmax_scale

In [26]:
test_encoded['isFraud'] = 'test'
df = pd.concat([train_encoded, test_encoded], axis=0, sort=False )
df = df.reset_index()
df = df.drop('index', axis=1)

In [27]:
v_total = train_encoded.columns[55:394]

**Performing PCA**

In [28]:
for col in v_total:
    df[col] = df[col].fillna((df[col].min() - 2))
    df[col] = (minmax_scale(df[col], feature_range=(0,1)))

df = PCA_change(df, v_total, prefix='PCA_V_', n_components=30)

In [32]:
df = reduce_mem_usage(df)

Memory usage of dataframe is 858.05 MB
Memory usage after optimization is: 305.55 MB
Decreased by 64.4%

## **Preparing the data for modeling**

In [33]:
def clean_inf_nan(df):
    return df.replace([np.inf, -np.inf], np.nan) 

# Cleaning infinite values to NaN
df = clean_inf_nan(df)

In [34]:
def missing_data_finder(df):

    df_missing = df.isnull().sum().reset_index().rename(columns={'index': 'column_name', 0: 'missing_row_count'}).copy()
    df_missing_rows = df_missing[df_missing['missing_row_count'] > 0].sort_values(by='missing_row_count',ascending=False)
    df_missing_rows['missing_row_percent'] = (df_missing_rows['missing_row_count'] / df.shape[0]).round(4)
    return df_missing_rows

In [35]:
print(len(missing_data_finder(df)))
missing_data_finder(df).head()

52

   column_name  missing_row_count  missing_row_percent
60       id_08            1087017               0.9907
59       id_07            1087017               0.9907
14       dist2            1023168               0.9325
35          D7             998181               0.9097
56       id_04             964426               0.8790

### **Dropping the columns with a missing_row_percent of over 90%**

In [39]:
df = df.drop(columns=['id_08','id_07','dist2','D7','D13'], axis = 1)

**Resorting df to updated train and test datasets prepared for modeling**

In [42]:
#FOR CHECKING
train, test = df[df['isFraud'] != 'test'], df[df['isFraud'] == 'test'].drop('isFraud', axis=1)
print(train.shape)
print(test.shape)

(590540, 160)
(506691, 159)

**Sorting the values by TransactionDT, timedelta feature**

In [46]:
#FOR CHECKING
X_train = train.sort_values('TransactionDT').drop(['isFraud', 'TransactionDT', ],axis=1)
y_train = train.sort_values('TransactionDT')['isFraud'].astype(bool)
X_test = test.sort_values('TransactionDT').drop(['TransactionDT', ], axis=1)
#test_encoded = test_encoded[["TransactionDT"]]

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)

(590540, 158)
(590540,)
(506691, 158)

# **Saving Data for Modeling (Next Notebook)**

In [47]:
df.to_csv('full_data.csv')